<div id="login" class="commonScss" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
     <div fxLayout="row" fxFlex="90%" style="width:100%" fxLayoutAlign="center center">
            <div fxFlex="96" fxFlex.gt-sm="40" fxLayout="column">
               <h4 class="p-b-10 m-0 fs-20 text-dark">Welcome to Desid</h4>
               <form #form="ngForm" [formGroup]="loginform" fxLayout="column">
                  <mat-form-field fxFlex="100" appearance="outline" >  
                     <mat-label>User Name/Email ID/Phone Number</mat-label>
                     <input matInput formControlName="username" required>
                     <mat-error *ngIf="form.submitted || fform['username'].errors?.['required']">Enter User Name/Email ID/Phone Number</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="100" appearance="outline" class="m-t-17">
                     <mat-label>Password</mat-label>
                     <input matInput formControlName="password" required [type]="!hidebtn?'password':'text'">
                      <button mat-icon-button matSuffix *ngIf="fform['password'].value" type="button" (click)="hidebtn = !hidebtn" class="material-symbols-outlined"><span *ngIf="hidebtn">visibility</span><span *ngIf="!hidebtn">visibility_lock</span></button>
                     <mat-error *ngIf="form.submitted || fform['password'].errors?.['required']">Enter Password</mat-error>
                  </mat-form-field>
                  <mat-error fxFlex="100" *ngIf="getValues" fxLayoutAlign="start start">Incorrect Username and Password</mat-error>
                  <span fxFlex="100" fxLayoutAlign="end start" class="cr-pointer text-accent fs-15">Forget Password?</span>
                  <button mat-raised-button type="submit" class="bg-primary ht-44 m-t-17" (click)="submitForm()"><span *ngIf="!loader">Login</span><mat-spinner *ngIf="loader"  color="white" [diameter]="25"></mat-spinner></button>
               </form> 
            </div>
     </div>
     <div fxLayout="row" fxFlex="10%">
         <p class="fs-15 text-dark">New to Desid? <span (click)="signupaccount()" class="cr-pointer text-accent fs-15">Sign Up</span></p>
     </div> 
</div>