<div id="register" class="commonScss" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="row" fxFlex="90%" style="width:100%" fxLayoutAlign="center center">
           <div fxFlex="96" fxFlex.gt-sm="40" fxLayout="column">
              <form #form="ngForm" [formGroup]="registerForm" fxLayout="column">
                 <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="emailid" required>
                    <mat-error *ngIf="form.submitted || f['emailid'].errors?.['required']">Enter User Email ID</mat-error>
                 </mat-form-field>
                 <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="mobil" required >
                    <mat-error *ngIf="form.submitted || f['mobil'].errors?.['required']">Enter Mobil Number</mat-error>
                 </mat-form-field>
                 <button mat-raised-button type="submit" (click)="submitForm()"><span *ngIf="!loader">Submit</span><mat-spinner *ngIf="loader" color="primary" [diameter]="20"></mat-spinner></button>
              </form> 
           </div>
    </div>
    <div fxLayout="row" fxFlex="10%">
        <p>Already have on account? <span (click)="loginaccount()">Login in</span></p>
    </div> 
</div>